
.vscode/settings.json
Code/IoTSimulator/IoTSimulator/obj/Debug/netcoreapp3.1/IoTSimulator.csprojAssemblyReference.cache
Code/IoTSimulator/IoTSimulator/obj/Debug/netcoreapp3.1/IoTSimulator.assets.cache
